<h2>Log in form</h2>

<%= form_tag user_path do %>
    
    <label>Email Address:</label>
    <%= f.text_field :email %>

    <label>Password:</label>
    <%= f.password :password %>

    <%=f.submit%>
<% end %>

<%= form_tag students_path do %>
    <label>Student Form</label><br>
    <%= text_field_tag :'student[first_name]'%><br>
    <%= text_field_tag :'student[last_name]'%><br>
    <%= submit_tag "Submit Student" %>
<% end %>